{% extends "base.html" %}
{% block title %}Wallet Generator{% endblock %}
{% block head %} 
    <script src="{{ url_for('static', filename='js/generateWallet.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="lg:grid lg:grid-cols-4 text-center py-2 mx-3 leading-relaxed">
        <div class="col-span-2 col-start-2">
            <h1 class="text-3xl">Wallet Generator</h1>
            <p class="font-sans px-3">Click the button below to generate public and private keys for your wallet.</p>
            <button class="wallet-btn bg-blue-700 my-2 py-2 px-3 text-white hover:bg-gray-800 hover:rounded">
                Generate Wallet
            </button>
        </div>

        <!-- wallet-keys  -->
        <div class="lg:col-span-2 lg:col-start-2">
            <!-- textarea-public key  -->
            <div class="my-6">
                <label for="Public Key" class="block float-left">Public Key: </label> 
                <textarea name="public-key-textarea" rows="5" readonly class="txt-area-key block border bg-gray-200 w-full p-2 hover:border-blue-500"></textarea>
                <button id="public-copy-btn" class="copy-btn block bg-gray-800 py-1 px-4 text-white hover:bg-gray-600">Copy</button>
            </div>

            <!-- textarea-private-key  -->
            <div>
                <label for="Public Key" class="block float-left">Private Key: </label> 
                <textarea name="privae-key-textarea" rows="5" readonly class="txt-area-key block border bg-gray-200 w-full p-2 hover:border-blue-500"></textarea>
                <button id="private-copy-btn" class="copy-btn block bg-gray-800 py-1 px-4 text-white hover:bg-gray-600">Copy</button>        
            </div>
        </div>
    </div>
{% endblock %}
