<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client home</title>
    <link rel="stylesheet" href="static/css/styles.css">

    <!--    google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Poppins&display=swap" rel="stylesheet">

    <!-- font-awesome cdn  -->
    <script src="https://kit.fontawesome.com/de0476f8c8.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="flex flex-wrap items-center justify-between p-3 px-10 bg-gray-800 content-center">
        <a href="/" class="text-white text-4xl">Blockchain Client</a>
        <button class="nav-btn text-white inline-block 
                    hover:text-gray-400 lg:hidden ml-auto">
            <i class="fas fa-bars"></i>
        </button> 
        <div class="w-full lg:inline-flex lg:flex-row lg:w-auto" id="navigation">
            <div class="nav-menu">
                <!-- <div class="toggle-menu md:hidden lg:hidden"> -->
                <a href="/"
                    class="flex lg:inline-flex lg:w-auto px-3 py-2 text-gray-400 text-xl rounded hover:bg-gray-700 hover:text-white"
                >
                    <span>Wallet</span>
                </a>
                <a href="/make/transaction"
                    class="flex lg:inline-flex lg:w-auto px-3 py-2 text-gray-400 text-xl rounded hover:bg-gray-700 hover:text-white"
                >
                    <span>Make Transaction</span>
                </a>
                <a href="/make/transaction"
                    class="flex lg:inline-flex lg:w-auto px-3 py-2 text-gray-400 text-xl rounded hover:bg-gray-700 hover:text-white"
                >
                    <span>View Transaction</span>
                </a>
            </div>
        </div>
    </nav>

    <main class="lg:grid lg:grid-cols-4 text-center py-2 mx-3 leading-relaxed">
        <div class="col-span-2 col-start-2">
            <h1 class="text-3xl">Wallet Generator</h1>
            <p class="font-sans px-3">Click the button below to generate public and private keys for your wallet.</p>
            <button class="bg-blue-700 my-2 py-2 px-3 text-white hover:bg-gray-800 hover:rounded">
                Generate Wallet
            </button>
        </div>

        <!-- wallet-keys  -->

        <div class="lg:col-span-2 lg:col-start-2">
            <!-- textarea-public key  -->
            <div class="my-6">
                <label for="Public Key" class="block float-left">Public Key: </label> 
                <textarea name="public-key-textarea" id="" rows="5" readonly class="block border bg-gray-100 w-full hover:border-blue-500"></textarea>
                <button class="copy-btn block bg-gray-800 py-1 px-4 text-white hover:bg-blue-700">Copy</button>
            </div>

            <!-- textarea-private-key  -->
            <div>
                <label for="Public Key" class="block float-left">Private Key: </label> 
                <textarea name="privae-key-textarea" id="" rows="5" readonly class="block border bg-gray-100 w-full hover:border-blue-500"></textarea>
                <button class="copy-btn block bg-gray-800 py-1 px-4 text-white hover:bg-blue-700">Copy</button>        
            </div>
        </div>
    </main>
    <script src="static/js/main.js"></script>
</body>
</html>